node_modules
.genaiscript
.env
.*.env
.env.*
ffmpeg*
ffprobe*
output.mddebug_test.mp4
.next/
firebase-debug.log
*.log
logs/
playwright-report/
test-results/

genaiscript.d.ts
tsconfig.json
jsconfig.json